<div class="data-list-container">
  <app-data-toolbar [searchTerm]="searchTerm" (searchTermChange)="onSearchTermChanged($event)" [showSearch]="true"
    [showAddButton]="authService.hasRole('admin')" [addLabel]="addLabel" (addClicked)="onAddClick()"></app-data-toolbar>
  <div class="list-container">
    <div *ngIf="loading" class="loading">
      <div class="spinner"></div>
      Cargando {{ pageTitle.toLowerCase() }}... 
    </div>
    <div *ngIf="!loading">
      <div *ngIf="filteredItems.length === 0" class="empty-list">
          No se encontraron {{ pageTitle.toLowerCase() }}   
        <div *ngIf="searchTerm">para "{{ searchTerm }}"</div>
      </div>
      <table *ngIf="filteredItems.length > 0" class="data-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th *ngIf="authService.hasRole('admin')"></th>           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredItems">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td class="action-cell" *ngIf="authService.hasRole('admin')">
              <div class="action-container">
                <button class="action-btn" matTooltip="Acciones" matTooltipPosition="left"
                  matTooltipClass="tooltip-arrow" (click)="toggleMenu(item.id, $event)">
                  <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="currentColor">
                    <path
                      d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" />
                  </svg> 
                </button>
                <div *ngIf="menuItemId === item.id" class="action-dropdown-menu">
                  <button class="menu-option" (click)="onEditClick(item.id)">
                    Editar 
                  </button>
                  
                  <button class="menu-option delete-option" (click)="onDeleteClick(item.id)">
                    Eliminar 
                  </button>

                </div>

              </div>

            </td>
          </tr>          
        </tbody>        
      </table>    
    </div>    
  </div>
</div>