<nav class="top-nav">
  <button class="burger-menu" (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>

  <div 
    class="menu-overlay" 
    *ngIf="isMenuOpen" 
    (click)="closeMenu()">
  </div>

  <div class="nav-links" [class.show]="isMenuOpen">
    <a
      class="nav-btn"
      routerLink="/products"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-boxes-stacked nav-icon"></i>
      Articulos
    </a>

    <a
      class="nav-btn"
      routerLink="/products/brands"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-registered nav-icon"></i>
      Marcas
    </a>

    <a
      class="nav-btn"
      routerLink="/products/departments"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-sitemap nav-icon"></i>
      Departamentos
    </a>

    <a
      class="nav-btn"
      routerLink="/products/categories"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-folder nav-icon"></i>
      Categorias
    </a>

    <a
      class="nav-btn"
      routerLink="/products/suppliers"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-truck nav-icon"></i>
      Proveedores
    </a>
     <a
      class="nav-btn " *ngIf="authService.hasRole('admin')"
      routerLink="/products/price-change"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-money-bill-wave nav-icon"></i>
      Cambio de Precios
    </a>
  </div>
</nav>
