/* GENERAL */
.top-nav {
  background-color: #2c3e50;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-btn {
  background-color: transparent;
  border: none;
  color: #ecf0f1;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-icon {
  font-size: 20px; 
  line-height: 1; 
  margin-right: 8px; 
}

.nav-btn.active {
  color: #f39c12;
  text-decoration: none;
}

.nav-btn:hover {
  color: #f39c12;
  text-decoration: none; 
}

.nav-btn.active:hover {
  color: #f39c12; 
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 24px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 1210px) {
  .burger-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .menu-overlay {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
  z-index: 5;            
}

  .nav-links {
    display: none;
    flex-direction: column;
    width: 45%;
    background-color: #2c3e50;
    position: absolute;
    top: 60px;
    right: 0;
    left: auto;
    padding: 10px 0;
    gap: 0;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 500;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-btn {
    width: 100%;
    justify-content: center;
    border-radius: 0;
    padding: 15px;
  }

  .top-nav {
    justify-content: flex-start;
    padding-left: 15px;
  }
}
