<div class="edit-container">
  <h2>{{ isEditing ? "Editar Cliente" : "Agregar Nuevo Cliente" }}</h2>

  <form [formGroup]="clientForm" (ngSubmit)="onSave()">
    <div class="section">
      <h3>Datos del Cliente</h3>
      <div class="form-group-inline">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" formControlName="nombre" />
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input id="apellido" type="text" formControlName="apellido" />
        </div>
      </div>
      <div class="form-group-inline">
        <div class="form-group">
          <label for="dni">DNI</label>
          <input id="dni" type="text" formControlName="dni" />
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input id="telefono" type="text" formControlName="telefono" />
        </div>
      </div>
       <div class="form-group">
        <label for="cuil">Cuil</label>
        <input id="cuil" type="text" formControlName="cuil" />
      </div>
      <div class="form-group">
        <label for="domicilio">Domicilio</label>
        <input id="domicilio" type="text" formControlName="domicilio" />
      </div>
      <!-- <div class="form-group">
        <label for="foto">Foto (URL)</label>
        <input id="foto" type="text" formControlName="foto" />
      </div> -->
    </div>

    <div class="form-actions">
      <button type="submit" class="save-btn" [disabled]="clientForm.invalid">
        {{ isEditing ? "Guardar Cambios" : "Guardar" }}
      </button>
      <button type="button" class="cancel-btn" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
