<div class="header-toolbar-container">
  <app-data-toolbar
    [searchTerm]="searchTerm"
    (searchTermChange)="onSearchTermChanged($event)"
    [showSearch]="true"
    [showAddButton]="authService.hasRole('admin')"  
    [addLabel]="'Agregar Producto'"
    (addClicked)="onAddClick()"
  ></app-data-toolbar>

  <button class="advanced-search-btn" (click)="toggleAdvancedSearch()">
    <mat-icon>filter_alt</mat-icon>
  </button>
</div>

<!-- Busqueda avanzada, solo si en el ts showAdvancedSearch es true -->
<div
  *ngIf="showAdvancedSearch"
  class="advanced-search-form"
  [formGroup]="advancedSearchForm"
>
  <div class="form-row">
    <div class="form-group">
      <label for="brand-filter">Marca:</label>
      <select id="brand-filter" formControlName="brand">
        <option value="">Todas</option>
        <option *ngFor="let brand of availableBrands" [value]="brand.name">
          {{ brand.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="department-filter">Departamento:</label>
      <select id="department-filter" formControlName="department">
        <option value="">Todos</option>
        <option
          *ngFor="let department of availableDepartments"
          [value]="department.name"
        >
          {{ department.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="category-filter">Categoría:</label>
      <select id="category-filter" formControlName="category">
        <option value="">Todas</option>
        <option
          *ngFor="let category of availableCategories"
          [value]="category.name"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="supplier-filter">Proveedor:</label>
      <select id="supplier-filter" formControlName="supplier">
        <option value="">Todos</option>
        <option
          *ngFor="let supplier of availableSuppliers"
          [value]="supplier.name"
        >
          {{ supplier.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-actions">
    <button type="button" class="btn btn-primary" (click)="applyFilters()">
      Aplicar Filtros
    </button>
    <button type="button" class="btn btn-secondary" (click)="clearFilters()">
      Limpiar
    </button>
  </div>
</div>


<div class="products-container">
  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
    Cargando productos...
  </div>
  <div *ngIf="!loading">
    <div *ngIf="filteredProducts.length === 0" class="empty-list">

      No se encontraron productos

      <div *ngIf="searchTerm">para "{{ searchTerm }}"</div>
    </div>
    <table *ngIf="filteredProducts.length > 0" class="products-table">
      <thead>
        <tr>
          <th>Sku</th>
          <th>Nombre</th>
          <th>Stock</th>
          <th>Precio</th>
                <th *ngIf="authService.hasRole('admin')"></th>
        </tr>
      </thead>
      <tbody>
        <!-- Cada producto -->
        <tr *ngFor="let product of filteredProducts">
          <td>{{product.sku}}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.price | currency : "$" : "symbol" : "1.2-2" }}</td> 
          <!--Currency es un pipe de Angular para formatear monedas-->

          <!-- Botón del menú desplegable por producto -->
          <td class="action-cell" *ngIf="authService.hasRole('admin')">
            <div class="action-container" #actionContainer>
              <button
                class="action-btn"
                matTooltip="Acciones"
                matTooltipPosition="after"
                matTooltipClass="tooltip-arrow"
                (click)="toggleMenu(product.id)"
              >
                <svg
                  class="action-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="currentColor"
                >
                  <path
                    d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
                  />
                </svg>
              </button>

              <!-- Menú desplegable por producto -->
              <div
                *ngIf="menuProductId === product.id"
                class="action-dropdown-menu"
              >
                <button class="menu-option" (click)="onEditClick(product.id)">
                  Editar
                </button>
                <button
                  class="menu-option delete-option"
                  (click)="onDeleteClick(product.id)"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
