<app-data-toolbar
  [searchTerm]="searchTerm"
  (searchTermChange)="onSearchTermChanged($event)"
  [showSearch]="true"
  [showAddButton]="true"
  [addLabel]="'Agregar Categoría'"
  (addClicked)="onAddClick()"
></app-data-toolbar>

<div class="list-container">
  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
    Cargando categorías...
  </div>

  <div *ngIf="!loading">
    <div *ngIf="filteredCategories.length === 0" class="empty-list">
      No se encontraron categorías
      <div *ngIf="searchTerm">para "{{ searchTerm }}"</div>
    </div>

    <table *ngIf="filteredCategories.length > 0" class="data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of filteredCategories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td class="action-cell">
            <div class="action-container">
              <button
                class="action-btn"
                matTooltip="Acciones"
                matTooltipPosition="left"
                matTooltipClass="tooltip-arrow"
                (click)="toggleMenu(category.id, $event)"
              >
                <svg
                  class="action-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="currentColor"
                >
                  <path
                    d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
                  />
                </svg>
              </button>

              <div
                *ngIf="menuItemId === category.id"
                class="action-dropdown-menu"
              >
                <button class="menu-option" (click)="onEditClick(category.id)">
                  Editar
                </button>
                <button
                  class="menu-option delete-option"
                  (click)="onDeleteClick(category.id)"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
